<div style="padding: 20px">
  <div>
    <mat-slide-toggle (change)="changeMode()">
      <p *ngIf="defMode">Modo de configuração das colunas</p>
      <p *ngIf="!defMode">Modo de configuração das linhas</p>
    </mat-slide-toggle>
  </div>
  <div *ngIf="defMode" style="display: flex; gap: 10px">
    <button>Adicionar Coluna</button>
    <button>Remover Coluna</button>
  </div>
  <div *ngIf="!defMode" style="display: flex; gap: 10px">
    <button>Adicionar Linha</button>
    <button>Remover Linha</button>
  </div>
</div>

<div style="width: 95%; height: 260px; padding-left: 30px">
  <revo-grid
    #grid
    style="height: 100%; width: 100%"
    [columns]="columns"
    [source]="source"
    [resize]="true"
    [rowHeaders]="true"
    [stretch]="true"
  ></revo-grid>
</div>
